# infra/docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    env_file:
      - ../.env
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ..
    restart: unless-stopped
    ports:
      - '3001:3001'
    env_file:
      - ../.env
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
